/* =======================
* Project: Technical Test - Junior Front-end Developer - Hybrid / Remote - ProdPad
* Author: Bozena Zawilinska 
* Last update: 19/02/2022
*
* SCSS WORKFLOW
*
1. GLOBAL SETTINGS 
- Colors
- General Settings
- KeyFrames

2. HOMEPAGE
- Wave
- Section 1 - Banner
- Section 2 - Integrations
- Section 3 - Build it

============================*/

/* 1. GLOBAL SETTINGS 
   ============================= */
/* Colors */
$pp-neutral-pos2: #dcdcdc;
$pp-brand-base: #25a7d9;
$pp-neutral-dark-neg1: #143350;

/* General Settings */
.site-container {
  background-color: #f6f6f6;
  .site-inner {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .entry-content {
      position: relative;
      z-index: 1;
    }
  }
}

.section {
  position: relative;
}

.round-borders {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.more-link a,
.base-blue {
  color: $pp-brand-base !important;
}

/* KeyFrames */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* 2. HOMEPAGE 
   ============================= */

/* Wave */
.wave-container {
  background-color: $pp-neutral-dark-neg1;
  padding-top: 20rem;
  position: absolute;
  left: 0px;
  top: 0px;

  svg {
    display: block;
  }
}

.wave-container {
  display: block;
  transform-origin: bottom;
  animation: fadeInDown 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  -webkit-animation: fadeInDown 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@media (max-width: 767px) and (min-width: 389px) {
  .wave-container {
    padding-top: 18rem;
  }
}

/* Section 1 - Banner */

.img-section {
  flex-direction: column;
  margin-right: 2rem;
  position: relative;

  .img-left {
    position: absolute;
  }

  .img-right {
    position: absolute;
    right: 0;
    top: 50px;

    img {
      max-width: 80px;
    }
  }
}

@media (min-width: 782px) {
  .img-section {
    .img-right {
      top: 150px;
      img {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1056px) {
  .img-section {
    .img-right {
      top: 200px;
    }
  }
}

@media (min-width: 1280px) {
  .img-section {
    .img-right {
      top: 250px;
    }
  }
}

@media (min-width: 1499px) {
  .img-section {
    .img-left {
      figure,
      figure img {
        min-width: 90vw;
      }
    }

    .img-right {
      top: 350px;
    }
  }
}

/* Section 2 - Integrations */
.f-wrapper {
  max-width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;

  .round-borders {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .f-wrapper {
    margin-top: 30vh;
  }
}

@media (min-width: 1499px) {
  .f-wrapper {
    max-width: 65%;
    margin-top: 50vh;
  }
}

/* Section 3 - Apps */
#apps {
  background-color: #ffffff;
}
.apps-section {
  margin: 100px auto;
  padding: 100px 0;

  .col {
    position: relative;
    a {
      position: absolute;
      bottom: 0;
    }
  }

  ul li {
    list-style-type: none;
  }

  .li-last {
    border-top: 1px solid $pp-neutral-pos2;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.app-tab {
  border: 1px $pp-neutral-pos2 solid;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin: 2rem auto;
  padding: 2rem;
}

@media (min-width: 782px) {
  .apps-section {
    .col {
      a {
        right: 2rem;
      }
    }
  }
}

/* Section 3 - Build it */
.build-it-section {
  padding: 0 5rem;

  .wp-block-columns {
    margin-bottom: 0;
  }

  .flex-columns {
    flex-direction: column-reverse;
    position: relative;

    figure {
      margin: 0;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem;
    position: relative;
  }

  .dots-row .wp-block-column {
    margin-top: 2rem;
    max-width: fit-content;
  }
}

@media (min-width: 782px) {
  .build-it-section {
    .wrapper {
      max-width: 50vw;
      position: absolute;
    }
  }
}
